@import '../../styles/variables.module.scss';

.main {
  display: flex;

  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-height: auto;

  background-color: $primary-color;
  color: white;
  padding: 1rem;

  gap: 1rem;
}

.wrapperAbout {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;


  background-color: rgba(77, 80, 80, 0.336);

}

.wrapperImg {
  min-width: 200px;
  border-radius: 50%;
  background-color: $purple-color;
  overflow: hidden;

  &:hover {
    box-shadow: 1px 1px 20px $purple-color;
  }

  img {
    width: 200px;
    height: 200px;
  }

}

.containerImg {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  min-height: 300px;
  position: relative;


  & p {
    border-radius: 15px;
    padding: 1rem;
    font-size: 1.5rem;
  }

  p span {
    color: $purple-color;
  }
}

.wrapperAnkiImg {


  margin: 2rem 0 0 0;

  h3 {
    display: block;
    width: 100%;
    color: $purple-color;

    margin: 2rem 0;

    font-size:1.5rem;
    text-align: center;
  }

  div {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap: 5px;

    p {
      max-width: 400px;
      font-size: 1.5rem;
      font-weight: bold;
      span {
        color: $purple-color;
      }
    }


  }
}

.imgAnki {
  max-width: 400px;
  height: 400px;

  min-height: auto;
}