
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;

  text-decoration: none;
}




.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  min-height: 400px;
  max-height: auto;
  margin: 50px;

}

