@import'../../styles/variables.module.scss';


.containerMain {
    display: flex;

    align-items: center;

    height: 90vh;
    width: 100%;

    background-color: $primary-color;

}

.imgContainer {
    height: 100%;
    width: 600px;
    position: relative;
  
    overflow: hidden;
    img {
        display: inline-block;
        width: 800px;
        height: 800px;
       
    }
}

.title {
    color:white;

    font-size: 3rem;

    padding: 15px;

    border-bottom:  5px solid $purple-color;

    
}
.wrraperTitle {
    display: flex;
 

    flex-direction: column;
    gap: 15px;

    img {
        width: 80px;
        height: 80px;
    }
}
.wrraperImg {
    display: flex;

    gap: 15px;

    img {
        width: 70px;
        height: 70px;

        border-radius:50%;
    }
}