@import'../../styles/variables.module.scss';

.headerBody {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    color: white;


}

.headerList {
    display: flex;
    gap: 2rem;
    color: white;

    font-size: 1.1rem;
    font-size: bold;
    list-style: none;

    li {
        cursor: pointer;

        padding: .5rem;
    }

    li a {
        color: white;
    }
}

.active {
    height: 3rem;
    border-bottom: .2rem solid $purple-color;
}